:root {
    --white: #F5F5F5;
    --light-green: #00C983;
    --green: #11B67C;
    --dark-green: #0F9E69;
    --black: #1A1A1A;
    --pink: #E8427D;
    --yellow: #EBC524;
    --velvet: #944090;


}